@page
@model IGI.Areas.Admin.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PCPart.Name" class="control-label"></label>
                    <input asp-for="PCPart.Name" class="form-control" />
                    <span asp-validation-for="PCPart.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PCPart.Description" class="control-label"></label>
                    <input asp-for="PCPart.Description" class="form-control" />
                    <span asp-validation-for="PCPart.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PCPart.Price" class="control-label"></label>
                    <input asp-for="PCPart.Price" class="form-control" />
                    <span asp-validation-for="PCPart.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PCPart.Image" class="control-label"></label>
                    <div class="custom-file mt-3">
                        <input type="file" asp-for="Image"
                               class="custom-file-input" id="customFile" />
                        <label class="custom-file-label"
                               for="customFile">Choose File</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PCPart.CategoryId" class="control-label"></label>
                    <input asp-for="PCPart.CategoryId" class="form-control" />
                    <span asp-validation-for="PCPart.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
